/*----- Imports -----*/
@import '_mixins';
@import '_reset';

/*----- Variables -----*/
/* Colors */

$white: #fff;
$urmc-blue: #00467f;
$urmc-light-blue: #3597d9;
$urmc-dark-blue: #00264f;
$urmc-gold: #fd0;
$urmc-purple: #ca6fd4;
$urmc-red: #ed3a35;
$urmc-green: #9fc644;
$urmc-orange: #e29c50;

/* Padding/Margin default */

$buffer: 10px;

/*----- General Styles -----*/

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

body, html {
	max-width: 100vw; 
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    &.no-scroll {
        overflow-y: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: $urmc-blue;
    text-decoration: none;
}

section {
    padding: ($buffer * 2) ($buffer * 2) 0;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: $buffer 0;
}

.flex {
    @include flexbox;
}

.align-center {
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    padding: $buffer;
    cursor: pointer;
}

/*----- Popup -----*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &.animate-in {
        @include animate-with-keyframes(fade-in .25s ease-in-out forwards);
        display: block;
    }

    &.animate-out {
        @include animate-with-keyframes(fade-out .5s ease-in-out forwards);
        
        .modal-container {
            @include animate-with-keyframes(slide-out .25s ease-in-out forwards);
        }
    }

    &-container {
        @include animate-with-keyframes(slide-in .5s .25s ease-in-out forwards);
        @include transform(translate(-50%, -50%));
        top: -100%;
        left: 50%;
        width: calc(100% - (#{$buffer} * 2));
        max-width: 600px;
        padding: ($buffer * 4) ($buffer * 2) ($buffer * 4);
        background-color: $white;
        position: absolute;
    }

    &-close-icon {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $urmc-light-blue;
        width: $buffer * 4;
        height: $buffer * 4;
    }

    p {
        margin: ($buffer * 2) 0; 
    }

    ul {
        margin-top: 10px;
    }

    li {
        margin-top: 5px;
    }

}

@keyframes fade-in {
    0%{background-color: transparent}
    100%{background-color: rgba(0,0,0,0.7);}
}

@keyframes fade-out {
    0%{background-color: rgba(0,0,0,0.7)}
    100%{background-color: transparent; }
}

@keyframes slide-in {
    0%{top: -100%; opacity: 0}
    10%{opacity: 1}
    80%{top: 60%}
    100%{top: 50%}
}

@keyframes slide-out {
    0%{top: 50%}
    20%{top: 60%}
    100%{top: -100%}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* IE didn't like the slide in. No time to investigate */
    .modal .modal-container {
        top: 50%;
    }
}
/*----- Header -----*/ 

header {
    background-color: $urmc-blue;

    .header-flex {
        @include flexbox;
        justify-content: space-between;
        padding: $buffer;
        justify-content: space-between;
        align-items: center;
    }
}

.strong-logo {
    max-width: 70vw;
}

/*----- Navigation -----*/

.main-nav {
    @include animate;
    padding-top: $buffer * 8;
    width: 90vw;
    max-width: 400px;
    position: absolute;
    right: -100vw;
    top: 0;
    background-color: $urmc-dark-blue;
    height: 100vh; 
    z-index: 1;
    overflow-x: hidden;

    &.slide-in {
        @include animate; 
        right: 0;
    }

    .close-icon {
        position: absolute;
        top: $buffer;
        right: $buffer;
        cursor: pointer;
    }

    fieldset {
        position: relative;
    }

    .search-field {
        padding: $buffer 0;
        border-bottom: 2px solid $white;
        width: 100%;
        margin-bottom: $buffer;
        color: $white;
        font-size: 1.2em;
        margin-left: $buffer * 2;
        width: calc(100% - (#{$buffer} * 4));
        font-family: 'Open Sans', sans-serif;
        @include placeholder {
            color: white; 
            font-family: 'Open Sans', sans-serif;
        }
    }

    .search-icon {
        background: url('../img/search-icon.svg') no-repeat;
        width: 25px;
        height: 25px;
        position: absolute;
        right: $buffer * 2;
    }

    li {
        @include flexbox;
        align-items: center;
        padding: ($buffer * 2) 0;
        border-bottom: 1px solid $urmc-blue;
        position: relative;
        
        &::after {
            @include transform(rotate(-45deg));
            content: "";
            border: solid $white;
            border-width: 0 3px 3px 0; 
            padding: 3px;
            position: absolute;
            right: $buffer * 2;
        }

        &.explore-link {
            border-bottom: none;
            background-color: $urmc-blue;
        }
    }
    
    a {
        color: $white;
        font-size: 1.2em;
        padding: 0 ($buffer * 2);
    }
}

/*----- Intro image -----*/

.intro-img {
    padding: 0;
    margin-bottom: -4px; /* Closes gap between image and General Info CTA. Didn't have time to investigate*/

    &-container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    img {
        width: 100%;
    }

    .overlay {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 4px;
        left: 0;
    }

    h1 {
        color: $white;
        font-size: 2em;
        position: absolute;
        bottom: 20px;
        left: $buffer * 2;
        line-height: 1.2;

        span {
            font-size: 0.8em;
            font-weight: normal;
        }
    }
}

.general-info {
    text-align: center;
    font-weight: bold;
    background-color: $urmc-gold;
    max-width: 1200px;
    padding: $buffer * 2;
    margin: 0 auto;

    a {
        white-space: nowrap;
    }
}

/*----- Call to action (CTA) -----*/

.cta {
    display: block;
    padding: $buffer;
    color: $white;
    margin-top: $buffer;
    text-decoration: none;

    span {
        font-weight: bold;
    }

    img {
        height: 60px;
        width: 60px;
        margin-right: $buffer * 2;
        flex-shrink: 0; /* Fixes IE image sizing issue */
    }
}

.doctor-cta,
.parking-cta {
    background-color: $urmc-purple;
}

.mychart-cta {
    background-color: $urmc-light-blue;
}

.cost-cta {
    background-color: $urmc-red;
}

.librarian-cta {
    background-color: $urmc-blue;
}

.patient-cta {
    background-color: $urmc-orange;
}

/*----- News -----*/
.news {
    .cta {
        color: #222;
        padding: $buffer 0;

        img {
            height: 80px;
            width: 80px;
        }
    }

    .see-more {
        margin-top: $buffer;
        display: block;
    }
}

/*----- Quick links -----*/

.quick-links {
    ul {
        margin-bottom: $buffer * 2;
    }

    li {
        padding: $buffer 0;
    }
}

/*----- Footer -----*/

footer a {
    color: $white;
}
.footer-top {
    background-color: $urmc-light-blue;
    padding: 0 ($buffer * 2) ($buffer * 2);
    
    ul {
        padding-top: $buffer * 2;
    }

    li {
        margin: $buffer 0;
        font-weight: bold;
        font-size: 1.2em;
        color: $urmc-dark-blue;
    }

    a {
        font-weight: normal;
        font-size: .9em;
    }
}

.footer-bottom {
    padding: $buffer * 2;
    background-color: $urmc-dark-blue;
    color: $white;
    text-align: center;

    ul {
        @include flexbox;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: $buffer auto 0;
        max-width: 800px;
    }

    li {
        margin: $buffer / 2;
    }

    a {
        text-decoration: underline;
    }
}

@media all and (max-width: 400px) {
    .intro-img h1 {
        bottom: $buffer;
        left: $buffer;
    }
}

@media all and (min-width: 800px) {    
    body {
        font-size: 16px;

        &.no-scroll {
            margin-right: 17px; /* Width of browser scrollbar so ther is no jumping when scroll is disabled. This is a bandaid */
        }
    }

    header {
        padding: $buffer * 2;
    }

    .main-nav {
        padding-top: $buffer * 12;

        .close-icon {
            top: $buffer * 3;
            right: $buffer * 3;
        }

        .search-field {
            padding: $buffer 0;
            margin-left: $buffer * 3;
            width: calc(100% - (#{$buffer} * 6));
        }
    
        .search-icon {
            right: $buffer * 3;
        }
    
        li {            
            &::after {
                right: $buffer * 3;
            }
        }
        
        a {
            padding: 0 ($buffer * 3);
        }
    }

    .intro-img h1 {
        bottom: $buffer * 3;
        left: $buffer * 3;
        font-size: 2.2em;
    } 

    section {
        padding: ($buffer * 3) ($buffer * 3) 0;
    }

    .cta {
        margin-top: $buffer * 3;
    }

    .footer-top {
        padding: 0 ($buffer * 3) ($buffer * 3);
    }

    .large-flex {
        @include flexbox;
        justify-content: space-between;

        a {
            width: 100%;
            display: block;
            padding: $buffer 0;
        }
    }

    .patient-resources {
        .large-flex {
            flex-wrap: wrap;
        }
        a {
            padding: $buffer * 2;
            max-width: calc(50% - 15px);
        }
        
    }
}

@media all and (min-width: 1200px) {
    header {
        padding: ($buffer * 2) ($buffer * 6) ;
    }

    .main-nav {
        max-width: 500px;
        .close-icon {
            right: $buffer * 6;
        }

        .search-field {
            margin-left: $buffer * 6;
            width: calc(100% - (#{$buffer} * 12));
        }
    
        .search-icon {
            right: $buffer * 6;
        }
    
        li {            
            &::after {
                right: $buffer * 6;
            }
        }
        
        a {
            padding: 0 ($buffer * 6);
        }
    }

    .max-width {
        max-width: 1260px;
        margin: 0 auto;
        padding: $buffer * 3;
    }

    .x-large-flex {
        @include flexbox;
    }

    .flex-1 {
        @include flex(1);
    }
    
    .flex-2 {
        @include flex(2);
        width: 66%;
        padding-right: $buffer * 12;

        section {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .quick-links {
        border-left: 1px solid $urmc-light-blue;
        padding: 0 0 0 ($buffer * 3);
    }

    .patient-resources {
        a {
            padding: $buffer * 2;
            max-width: calc(33% - 15px);
        }
        
    }

    .footer-bottom .max-width {
        padding: 0;
    }

}